extends default.pug

block content
    <div class="error">
        <img src="/tekniskfeil.png" alt="teknisk feil" width="50%">
        h1= message
        h2 Trykk <a href="/items">her</a> for å se vårt vareutvalg
    </div>