extends default.pug

block content
    <h1>Oppgave i infotek</h1>
    <p> Her er min oppgave i infotek. Jeg har brukt følgende: 
    <ul>
        <li> node.js er et serverside rammeverk for å kjøre JavaScript på server
        <li> Express er et lite webrammeverk for node.js. Det hjelper deg blant annet med å lage ruter  
        <li> Pug er et templaterammeverk som lar deg lage maler for sider
    </ul>
    </p>
    <p> Oppgaven er bygget opp som følger: 
    <ul>
        <li> To JavaScriptfiler: app.js og items.js
        <li> Seks pug-maler 
        <li> En CSS-fil for styling
    </ul>
    </p>