table {
    border-collapse: collapse;
    border-radius: 20px;
    margin: 1em;
    font-size: 1.2em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  table thead tr {
    background-color: #0c3744;
    color: #ffffff;
    text-align: left;
  }
  
  
  table th,
  table td {
      padding: 1em;
      margin: 1em;
  }
  
  table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  table tbody tr:nth-of-type(even) {
    background-color: #cfd0d3;
  }
  
  table tbody tr:last-of-type {
    border-bottom: 2px solid #0c3744;
  }
  
  body{
    font-family: 'Poppins', serif;
    font-size: 2emx;
  }
  
  a {color: #049aba;}
  
  img {
    max-width: 80%;
    height: auto;
    width: auto\9; /* ie8 */
  }
  
  .header {
    padding: 60px;
    text-align: center;
    background: #04323c;
  }
  
  .error {
    padding: 60px;
    text-align: center;
  }
  
  .searchBox {
    margin: 1em;
  }
  
  input, button, select, option {
    font-size: 1.2em;
    font-family: 'Poppins', serif;
  }
  
  .details {
    margin: 0em;
    padding: 0px;
  }
  
  .prodImages{
    display: block;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    float: center;
    width:  100px;
    height: 100px;
    background-size: cover;
  }
  
  
  
  .caption {
    text-align: center;
    display: block;
  }
  input{
    margin-left: 0.2em;
    margin-right: 0.2em;
    
  }
  
  